:root {
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --gray-950: #030712;
  --blue-50: #ecfaff;
  --blue-100: #d4f1ff;
  --blue-200: #b2e9ff;
  --blue-300: #7dddff;
  --blue-400: #40c7ff;
  --blue-500: #14a7ff;
  --blue-600: #0086ff;
  --blue-700: #006eff;
  --blue-800: #005bd4;
  --blue-900: #084da0;
  --blue-950: #0a2f61;
  --yellow-50: #fefce8;
  --yellow-100: #fef9c3;
  --yellow-200: #fef08a;
  --yellow-300: #fde047;
  --yellow-400: #facc15;
  --yellow-500: #eab308;
  --yellow-600: #ca8a04;
  --yellow-700: #a16207;
  --yellow-800: #854d0e;
  --yellow-900: #713f12;
  --yellow-950: #422006;
  --red-50: #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;
  --red-950: #450a0a;
  --green-50: #f2f9ec;
  --green-100: #e1f1d6;
  --green-200: #b9df9f;
  --green-300: #a2d383;
  --green-400: #81c05b;
  --green-500: #63a43e;
  --green-600: #4a822e;
  --green-700: #3b6427;
  --green-800: #325123;
  --green-900: #2c4522;
  --green-950: #14250e;
  --black-alpha-50: #0000000d;
  --black-alpha-100: #0000001a;
  --black-alpha-200: #00000033;
  --black-alpha-300: #0000004d;
  --black-alpha-400: #00000066;
  --black-alpha-500: #00000080;
  --black-alpha-600: #00000099;
  --black-alpha-700: #000000b3;
  --black-alpha-800: #000000cc;
  --black-alpha-900: #000000e6;
  --black-alpha-950: #000000f2;
  --white-alpha-50: #ffffff0d;
  --white-alpha-100: #ffffff1a;
  --white-alpha-200: #ffffff33;
  --white-alpha-300: #ffffff4d;
  --white-alpha-400: #ffffff66;
  --white-alpha-500: #ffffff80;
  --white-alpha-600: #ffffff99;
  --white-alpha-700: #ffffffb3;
  --white-alpha-800: #ffffffcc;
  --white-alpha-900: #ffffffe6;
  --white-alpha-950: #fffffff2;
}
